/* cards */
.card .card-header {
	height: 40vw;
	background-size: cover;
	background-position: center;
}
.card .card-footer {
	min-height: 35px;
	color: #fff;
	background-color: #333;
	background-color: rgba(0,0,0,0.2);
	position: absolute;
	bottom: 0px;
	width: 100%;
}